<!--<div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="storageSelector">Select Storage Amount</label>
                                                        <input id="storageSelector" type="text" , value="0" ,
                                                               name="storageSelector">
                                                        <script>
                                                            $("input[name='storageSelector']").TouchSpin({
                                                                min: 0,
                                                                max: 10000,
                                                                step: 1,
                                                                decimals: 0,
                                                                boostat: 5,
                                                                maxboostedstep: 10,
                                                                postfix: 'GB'
                                                            })
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label for="storageType">Type</label>
                                                        <select id="storageType" name="storageType" class="form-control">
                                                            <option value="Platinum">Platinum</option>
                                                            <option value="Gold">Gold</option>
                                                            <option value="Silver">Silver</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label for="storageReplica">Type</label>
                                                        <select id="storageReplica" name="storageReplica"
                                                                class="form-control">
                                                            <option value="replicated">Replicated</option>
                                                            <option value="nonReplicated">Non Replicated</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button type="button" class="btn btn-default" id="addStorage">Add
                                                    </button>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div id="storageContainer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->

<script>
/*$('#addStorage').click(function () {
             var storageContainer = $('#storageContainer');
             var storageSelector = $('#storageSelector');
             var storageType = $('#storageType');
             var storageReplica = $('#storageReplica');
             if (storageSelector.val() > 0) {
             storageContainer.append('<div>Size GB: ' + storageSelector.val() + '    Type: ' + storageType.val() + '     Replicated: ' + storageReplica.val());
             storageContainer.append('<button type="button" class="btn btn-default btn-xs" id="addStorage">Remove</button>');
             storageContainer.append('</div>')
             storageArray.append({
             'size': storageSelector.val(),
             'type': storageType.val(),
             'replicated': storageReplica.val()
             })
             }
             });*/
</script>
